hr {
    height: 2px;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    background-color: gainsboro;
}

.navbar-default {
    background-color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #4286f4;
}

.btn-block {
    width: 50%;
    margin: auto auto 10px;
}

.form-control {
    width: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.panel-default .panel-heading {
    text-align: center;
    background-color: #4286f4;
}

.label-center {
    display: block;
    width: 50%;
    margin: auto auto 10px;
}

.list-group-item {
    text-align: center;
}

.response-center {
    text-align: center;
}

